* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

nav{
    border: 3px solid black;
    display: block;
    text-align: center;
    background-color: gold;
    color: black;
    text-decoration: overline;
    height: 100px;
}

nav ul li {
    list-style-type: none !important;
    position: relative;
    top: 20px;
    display: inline-block;
    padding-right: 50px;
    font-size: 40px;
}

a:hover{
    background-color: yellowgreen;
    color: blue;
}

h1, p {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#Colores {
    border: 3px solid black;
    padding-bottom: 10px;
    width: auto;
    height: 350px;
}

.gold-color {
    position: relative;
    left: 100px;
    background-color: gold;
    color: black;
    font-weight: bold;
    text-align: center;
    width: 400px;
    border: 3px solid black;
    display: inline-block;
    text-transform: uppercase;
}

.blue {
    position: relative;
    left: 100px;
    background-color: blue;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 400px;
    border: 3px solid black;
    display: inline-block;
    text-transform: uppercase;
}

.black {
    position: relative;
    left: 100px;
    display: inline-block;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 400px;
    border: 3px solid black;
    text-transform: uppercase;
}

.yellowgreen{
    position: relative;
    top: 20px;
    left: 100px;
    display: inline-block;
    background-color: yellowgreen;
    color: black;
    font-weight: bold;
    text-align: center;
    width: 400px;
    border: 3px solid black;
    text-transform: uppercase;
}

.darkblue {
    position: relative;
    top: 20px;
    left: 100px;
    display: inline-block;
    background-color: darkblue;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 400px;
    border: 3px solid black;
    text-transform: uppercase;
}

.lightgray {
    position: relative;
    top: 20px;
    left: 100px;
    display: inline-block;
    background-color: lightgray;
    color: black;
    font-weight: bold;
    text-align: center;
    width: 400px;
    border: 3px solid black;
    text-transform: uppercase;
}



#Fuentes {
    border: 3px solid black;
    padding-bottom: 10px;
    width: auto;
    height: 500px;
}

.Roboto-review p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 20px 20px;
    position: relative;
    left: 200px;
    text-align: center;
    border: 3px solid black;
    display: inline-block;
}

.Verdana-review p {
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
    padding: 20px 20px;
    position: relative;
    top: 20px;
    left: 170px;
    text-align: center;
    border: 3px solid black;
    display: inline-block;
}

.Roboto-review p:hover{
    background-color: lightgray;
}

.Verdana-review p:hover{
    background-color: lightgray;
}

.negrita {
    font-weight: bold;
}

.cursiva {
    font-style: italic;
}

.delineado{
    text-decoration: underline;
}

.mayusculas {
    text-transform: uppercase;
}